<% provide(:title, "Search Users: " + params[:query_user]) %>

<% if @users.count == 0%>
  <h1 class="text-center"><%= pluralize(@users.count, "result") %></h1>

  <%= render 'search_users_form' %>
  <p class="text-center" style="font-size: 20px;">No results for "<%= params[:query_user] %>"</p>
  <%= image_tag("no_res.png", width: "50", class: "center-img") %>

<% else %>
  <h1 class="text-center"><%= pluralize(@users.count, "result") %></h1>

  <%= render 'search_users_form' %>

  <ul class="users">
    <%= render @users %>
  </ul>

<% end %>