<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user, class: "user-name"%></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "Delete micropost", micropost, class: "delete-micropost",
                            data: { "turbo-method": :delete,
                                     turbo_confirm: "Are you sure?" } %>
    <% end %>
  </span>

  <span>
    <% pre_like = micropost.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <div>
        <%= button_to 'Unlike', micropost_like_path(micropost, pre_like), method: :delete, class: "buttonToUnlike" %>
        <span class="likes-count-unlike">
          <%= pluralize(micropost.likes.count, "Like") %>
          <% if micropost.likes.count == 1 %>
            <span class="comments-count-like">
              <%= pluralize(micropost.comments.count, "Comment") %>
            </span>
          <% else %>
            <span class="comments-count-likes">
              <%= pluralize(micropost.comments.count, "Comment") %>
            </span>
          <% end %>
        </span>
      </div>
    <% else %>
      <div class="buttonToLikePadding">
        <%= button_to 'Like', micropost_likes_path(micropost), method: :post, class: "buttonToLike" %>
        <span class="likes-count-like">
          <%= pluralize(micropost.likes.count, "Like") %>
          <% if micropost.likes.count == 1 %>
            <span class="comments-count-like">
              <%= pluralize(micropost.comments.count, "Comment") %>
            </span>
          <% else %>
            <span class="comments-count-likes">
              <%= pluralize(micropost.comments.count, "Comment") %>
            </span>
          <% end %>
        </span>
      </div>
    <% end %>
  </span>

  <% pre_like = micropost.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= link_to "Show Comments", micropost, class: "comment-link-unlike" %>
  <% else %>
    <%= link_to "Show Comments", micropost, class: "comment-link-like" %>
  <% end %>
</li>